<%= paginate @books %>

<h1>Liste des livres</h1>

<% @books.each do |book| %>
  <p><%= book_link book %></p>
<% end %>

<%= form_tag '/books', method: 'post' do %>
  <input type="text" name="title" />
  <select name="category_id">
    <% @categories.each do |category| %>
      <option value="<%= category.id %>"><%= category.name %></option>
      <% end %>
  </select>
  <input type="submit" value="Ajouter le livre" />
<% end %>
